<div class="container">
  <div class="row">
    <div class="col-12">
      <% @customers.each do |customer| %>
         <div class="card" style="width: 10rem;">
          <%= image_tag customer.profile_image, size:'158x158', class: "card-image-top"%>
          <div class="card-body">
            <p class="card-text"><%= customer.nickname%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
