<div class="top_img">
  <div class="container">
    <div class="row">
      <div class="col-4 mx-auto text-center">
        <h1>飯つく！</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mx-auto text-center">
        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-primary"%>
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-success"%>
      </div>
    </div>
  </div>
</div>
